.bakingbread {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: calc(100% - 10px);
    height: calc(100vh - 140px);

    padding: 5px;
    overflow: hidden;
}

.bakingbread>.middle {
    height: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.bakingbread>.middle>h1 {
    z-index: 1000;
    font-size: 40px;
}

.bakingbread>.middle>.bread {
    transition: transform 0.15s ease;

    z-index: 1000;
    animation: bread 6s ease-in-out infinite;
    max-width: 70%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
    height: calc(100% - 170px);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bakingbread>.middle:active>.bread:not(:active) {
    transform: translateY(3px);
}

.bakingbread .logo {
    background-image: url('/bread/logo.png');
}

.bakingbread .logo5 {
    background-image: url('/bread/logo-5.png');
}

.bakingbread .logo10 {
    background-image: url('/bread/logo-10.png');
}

.bakingbread .logo15 {
    background-image: url('/bread/logo-15.png');
}

.bakingbread .logo20 {
    background-image: url('/bread/logo-20.png');
}

.bakingbread .logo25 {
    background-image: url('/bread/logo-25.png');
}

.bakingbread .logo30 {
    background-image: url('/bread/logo-30.png');
}

.bakingbread .logo35 {
    background-image: url('/bread/logo-35.png');
}

.bakingbread>.middle>.bread:hover {
    animation-play-state: paused;
}

.bakingbread>.middle>.plus {
    display: flex;
    flex-direction: row;
    align-items: center;

    transition: all 1s ease-in;

    position: absolute;
    top: 250px;
    opacity: 1;
}

.bakingbread>.middle>.plus>img {
    height: 30px;
    width: 30px;
}

.bakingbread>.right {
    height: 100%;
    flex: 2;

    overflow-x: hidden;
    overflow-y: scroll;
}

.bakingbread>.right>.buildings {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.bakingbread>.right>.buildings>div {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 200px;
    width: 100%;
}

.bakingbread>.right>.buildings>div>div {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bakingbread>.right .progress {
    width: 0%;
    transition: width 0.4s ease-in;
    height: 10px;
}

.bakingbread>.right>.buildings>.quest {
    width: none;
    min-width: 80%;
    max-width: 80%;
    flex: 1;
}

.bakingbread .questicon {
    height: 40px;
    width: 40px;
}


.uncoolclick {
    transition: transform 0.15s ease;
    cursor: not-allowed;
    background: rgba(255, 94, 94, 0.2);
}

.greenish {
    background: rgba(177, 255, 94, 0.2);
}

.breadreset {
    display: flex;
    position: absolute;
}

.breadreset {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
}

.breadreset>div {
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.breadreset>div>a {
    font-size: 24px;
}

.breadreset>div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30px;
    background: rgba(255, 94, 94, 0.2);
}


.music {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    height: fit-content;
    width: 100%;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2);

    padding-left: 0;
    padding-right: 0;
}

.music>input {
    width: 150px;
    -webkit-appearance: none;
    height: 5px;
    background: #d3d3d3;
    border-radius: 5px;
}

.music>input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}

.music>.musiccontrol {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.music>.musiccontrol>a {
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.music>.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes bread {
    0% {
        background-position-y: 45%;
    }

    50% {
        background-position-y: 35%;
    }

    100% {
        background-position-y: 45%;
    }
}

@media screen and (min-width: 1000px) {
    .music {
        flex-wrap: wrap;
        height: 70px;
    }

    .music>.copyright {
        width: 100%;
    }
}


@media screen and (max-width: 1000px) {
    .bakingbread {
        flex-direction: column;
        height: calc(100vh - 110px);
    }

    .bakingbread>.middle {
        width: 100%;
        flex-direction: row;
        height: 210px;
        justify-content: space-between;

        flex-wrap: wrap;
    }

    .bakingbread>.middle>h1 {
        width: 30%;
    }

    .bakingbread>.middle>.bread {
        height: 60%;
        max-width: none;
        width: 65%;
        flex: 1;
    }

    .bakingbread>.right>.buildings>div {
        max-width: none;
        min-width: none;
        width: 100%;
    }

    .bakingbread>.right>.buildings>.quest {
        min-width: none;
        max-width: none;
        width: 100%;
        flex: 1;
    }

    .bakingbread>.middle h1 {
        font-size: 25px;
    }

    .bakingbread>.right h1 {
        font-size: 20px;
    }

    .bakingbread>.right h2 {
        font-size: 16px;
    }

    .bakingbread .questicon {
        height: 20px;
        width: 20px;
    }
}