.datastuff {
    width: 100%;
    height: calc(100% - 200px);
    padding-top: 125px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.datastuff video {
    height: 80%;
    object-fit: cover;
}

.datastuff h1 {
    font-size: 3vw;
}