.footer {
    width: calc(100% - 40px);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
    padding: 20px;
    margin-top: 100px;
}

.footer .top {
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .top .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer .top .logo {
    height: 75px;
    width: 75px;
}

.footer .top .title {
    font-weight: bold;
    font-size: 48px;
    color: white;
}

.footer .top .subtitle {
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.footer .top .smalltitle {
    font-size: 30px;
}

.footer .small {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.footer .small .actuallybigger {
    font-size: 24px;
    margin: 0;
}

.footer .small .contactmail {
    font-size: 20px;
    margin: 0;
}

.footer .backtotop {
    width: 50px;
    height: 50px;
    background-image: url('/icons/Top.svg');
    background-size: contain;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}



@media screen and (max-width: 1500px) {
    .footer .top .logo {
        height: 50px;
        width: 50px;
    }

    .footer .top .title {
        font-size: 28px;
    }

    .footer .top .subtitle {
        font-size: 24px;
    }


    .footer .top .smalltitle {
        font-size: 20px;
    }

    .footer .small {
        font-size: 22px;
    }

    .footer .backtotop {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .footer .small .actuallybigger {
        font-size: 18px;
    }

    .footer .top .main {
        width: 40%;
    }

    .footer .top .logo {
        height: 50px;
        width: 50px;
    }

    .footer .top .title {
        font-size: 18px;
    }

    .footer .top .subtitle {
        font-size: 14px;
        width: 40%;
    }


    .footer .top .smalltitle {
        font-size: 10px;
    }

    .footer .small {
        font-size: 12px;
    }

    .footer .backtotop {
        width: 30px;
        height: 30px;
        background-image: url('/icons/Top.svg');
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}