.header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    background-color: rgba(61, 61, 61, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    z-index: 200;
}

.header .icon {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.header .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.header .brand .logo {
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.header .brand .title {
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
}

.menu {
    width: 400px;
    display: block;
    position: absolute;
    margin-top: 100px;

    background: rgba(33, 33, 33, 0.7);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    scrollbar-width: none;
    -ms-overflow-style: none;

    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: left 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 100;
    left: -100%;
}

.menu::-webkit-scrollbar { 
    display: none;
}

.menu .submenu {
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 50px;
    justify-content: space-between;
}

.menu .submenu h1 {
    width: 100%;
    color: #fff;
    text-align: center;
    z-index: 101;
    margin: 0;
}

.menu .submenu > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    bottom: 15px;
    width: 100%;
}

.menu .submenu .icon-row {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 100%;
}

.menu .submenu .icon-row img {
    height: 100%;
    width: 100%;
}

.menu h1 p {
    display: block;
    font-size: 40px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all .3s ease;
    margin: 0;
}

.menu h1 p:hover {
    background: rgba(255, 255, 255, .2);
}


@media screen and (max-width: 1000px) {
    .header {
        height: 75px;
        background-image: linear-gradient(to bottom, #3e4152, #3e415250, #3e415250);
    }

    .header .brand .title {
        font-size: 32px;
        display: inline-block;
        max-width: 200px;
    }

    .menu {
        width: 100%;
        margin-top: 75px;
    }

    .header .icon {
        width: 50px;
        height: 50px;
        margin-left: 5px;
        margin-right: 5px;
    }
}


@media screen and (max-width: 500px) {
    .header .brand .title {
        font-size: 20px;
        display: inline-block;
        max-width: 100px;
    }

    .header .brand .logo {
        width: 50px;
        height: 50px;
    }

    .menu h1 a {
        font-size: 30px;
        margin-bottom: 10px;
    }
}